@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
body {
  font-family: "Raleway", sans-serif;
  background: #eee;
}
h1 {
  font-family: "PT Serif", serif;
  text-align: center;
}
.card-container {
  width: 300px;
  /* height: 100%; */
  transition: 0.5s all ease !important;
  transform: perspective(800px) rotateX(60deg) scale(0.7) !important;
  /* box-shadow: 0px 20px 50px #555; */
  animation: entry 1s linear 1;
}
@media only screen and (min-width: 1000px) {
  .title {
    width: 50%;
  }
  .wrapper {
    height: 350px;
    perspective: 900px;
  }
  .card-container:hover .moduleTitle {
    display: none;
  }
  .card-container:hover .story {
    display: block;
    /* animation: simple1 300ms ; */
    transform: scale(1);
    transform-origin: top;
    transition-duration: 300ms;
  }
}
@media only screen and (max-width: 1000px) {
  .card-container:hover .details {
    transform: scaleY(1) !important;
  }
  .card-container:hover .knowMoreBtn {
    display: block;
  }
  .card-container {
    transform: scale(0.7) !important;
  }
  .card-container:hover .img {
    opacity: 0;
  }
  .img {
    animation: upAndDown;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}
.details {
  height: 295px;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
  border: 5px solid var(--box-shadow-color);
  background-color: rgba(9, 9, 9, 0.8);
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  transform: scaleY(0);
  /* transition: transform 0.5s; */
}

.content {
  top: 10%;
  height: 100px;
  width: 100px;
  position: absolute;
  transform: translateY(-10%);
}

.basic_info {
  font-weight: bold;
  height: 300px;
  width: 200px;
  margin-top: 2px;
  margin-left: 10px;
  position: relative;
  color: white;
}
.grid__item:hover .details {
  transform: scaleY(1);
}
.knowMoreBtn {
  display: none;
  font-weight: bolder;
  font-size: 2rem;
  color: #fff;
  background-color: #6c49f6;
  position: absolute;
  bottom: 12%;
  right: -30%;
}
.moduleTitle {
  margin-top: 1rem;
  font-size: 40px !important;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.card-container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px) !important;
  transition: 0.5s all ease !important;
  z-index: 400;
}

.story {
  transform: scale(0);
  position: absolute;
  left: 0%;
  height: 55%;
  width: 100%;
  background: var(--bg-color);
  background: var(--bg-color1);
  z-index: 90000;
}

.info {
  position: absolute;
  top: 10%;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  color: #000;
  letter-spacing: 2px;
}

h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

h1 {
  color: #ffffff;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: bolder;
  color: #000;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
.amuzia {
  --bg-color: -webkit-linear-gradient(to right, #bc4e9c, #f80759);
  --bg-color1: linear-gradient(to right, #bc4e9c, #f80759);
  --box-shadow-color: #f80759;
}
.codifica {
  --bg-color: -webkit-linear-gradient(to top, #56ab2f, #a8e063);
  --bg-color1: linear-gradient(to top, #56ab2f, #a8e063);
  --box-shadow-color: #a8e063;
}
.structura {
  --bg-color: -webkit-linear-gradient(to top, #ee0979, #ff6a00);
  --bg-color1: linear-gradient(to top, #ee0979, #ff6a00);
  --box-shadow-color: #ee0979;
}

.dynamus {
  --bg-color: -webkit-linear-gradient(to bottom, #7f00ff, #e100ff);
  --bg-color1: linear-gradient(to bottom, #7f00ff, #e100ff);
  --box-shadow-color: #7f00ff;
}

.voltus {
  --bg-color: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
  --bg-color1: linear-gradient(to right, #1488cc, #2b32b2);
  --box-shadow-color: #56b4d3;
}

.substantia {
  --bg-color: -webkit-linear-gradient(to top, #fdfc47, #24fe41);
  --bg-color1: linear-gradient(to top, #fdfc47, #24fe41);
  --box-shadow-color: #24fe41;
}

.logica {
  --bg-color: -webkit-linear-gradient(to right, #ff0084, #5f143c);
  --bg-color1: linear-gradient(to right, #ff0084, #5f143c);
  --box-shadow-color: #ff0084;
}
.robotica {
  --bg-color: -webkit-linear-gradient(to top, #77828d, #29323c);
  --bg-color1: linear-gradient(to top, #77828d, #29323c);
  --box-shadow-color: #485563;
}
.accelero {
  --bg-color: -webkit-linear-gradient(to top, #50c9c3, #96deda);
  --bg-color1: linear-gradient(to top, #50c9c3, #96deda);
  --box-shadow-color: #96deda;
}
.ingenia {
  --bg-color: -webkit-linear-gradient(to left, #56ccf2, #2f80ed);
  --bg-color1: linear-gradient(to left, #56ccf2, #2f80ed);
  --box-shadow-color: #2f80ed;
}

.illuminati {
  --bg-color: -webkit-linear-gradient(to top, #f46b45, #eea849);
  --bg-color1: linear-gradient(to top, #f46b45, #eea849);
  --box-shadow-color: #f46b45;
}
.interpreta {
  --bg-color: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  --bg-color1: linear-gradient(to right, #11998e, #38ef7d);
  --box-shadow-color: #38ef7d;
}
.img {
  position: relative;
  z-index: -10;
  background: var(--bg-color);
  background: var(--bg-color1);
  width: 300px;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -50;
}

.contactCard {
  text-align: center;
  border: none;
  background: none;
}
.contactCard h5 {
  color: #fa26a0;
  font-weight: bold;
}
.contactCard p {
  color: #32e0c4;
  text-decoration: none;
}

@keyframes upAndDown {
  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.theme-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  background: none;
}

.animation {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
  display: inline-block;
  animation: firstSpan 2.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  z-index: 1;
  position: relative;
}

.oh {
  display: inline-flex;
  overflow: hidden;
}

.second {
  animation: secondSpan 2.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  font-weight: 100;
  z-index: -1;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes firstSpan {
  0% {
    transform: translateX(180%);
    opacity: 0;
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes secondSpan {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-0%);
  }
}
